@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(87, 64, 124); 
    --foreground: #ededed;
    --secondary-background-color:rgb(61, 41, 99);
  }
}


body {
  color: var(--foreground);
  background-color: var(--background, rgb(87, 64, 124));
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  @apply flex justify-center items-center h-screen;
}
.correctposition{
  @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
}
.btn{
  background-color: var(--secondary-background-color);
  padding: .5em 1.5em;
  border-radius: .4em;
}
.tile{
  background-color: rgb(111, 189, 185);
  border-radius: 10%;
}
.tile-empty{
  background-color: var(--secondary-background-color);
  border-radius: 10%;
}
.tile-correct{
  background-color:rgb(232, 138, 69);
}